[Unit]
Description=VentureLink Celery Beat Service
After=network.target postgresql.service redis.service venturelink-celery.service
Wants=postgresql.service redis.service venturelink-celery.service

[Service]
Type=simple
User=venturelink
Group=venturelink
WorkingDirectory=/app
Environment="DJANGO_SETTINGS_MODULE=venture_link_project.settings.production"
Environment="PATH=/app/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
ExecStart=/app/venv/bin/celery -A venture_link_project beat -l info
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
Restart=on-failure
RestartSec=5s
SyslogIdentifier=venturelink-celerybeat

[Install]
WantedBy=multi-user.target 